.inputError {
  color: #ff0048;
  width: 78%;
  font-weight: 600;
  padding:0 0 0.1rem 0 ;
  display: flex;
  justify-content:end;
  align-items:center;
}

.inputContainer {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;

  .inputSymbol {
    font-size: 1.87rem;
    padding: 0 0 0 0.5rem;
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }

  input {
    width: 87%;
    font-size: 1.25rem;
    outline: none;

    &::placeholder {
      color: var(--placeholder-color);
    }
  }
}
