:root {
  --before-color: #00d5be;
  --primary-color: #009689;
  --text-color: #101828;
  --placeholder-color: #99a1af;
  --text-hover: #f9fafb;
  --secondary-color: #05df72;
  --before-bg-color: #00d5be;
  --active-menu-color: #25f7e2;
  --form-color: ​#008080;
}
