:root {
  --before-border-color: #00d5be;
  --after-border-color: #009689;
  --before-bg-color: #00d5be;
  --after-bg-color: #009689;
  --primary-color: #009689;
  --text-color: #101828;
  --hover-text-color: white;
  --placeholder-color: #99a1af;
}
