.patientScreen {
  width: 86%;
  background-image: url("src/assets/dashboardImage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  .addPatientSection {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2% 2rem 0 0;

    .addPatientButton {
      height: 100%;
      width: 16%;
      border: 3px solid var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
        color: var(--text-hover);
      }
    }
  }
}
