.patientScreen {
  width: 100%;
  .addPatientSection {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2% 2rem 0 0;

    .addPatientButton {
      height: 100%;
      width: 16%;

      &:hover {
        background-color: var(--BeforeBg-Color);
        color: var(--hoverText-color);
      }
    }
  }
}
