form {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.25rem;
  .diseaseName {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;

    label {
      font-size: 1.25rem;
      width: 14%;
    }

    .inputContainer {
      width: 75%;
      padding: 0.5rem;
    }
  }

  .diseaseDescription {
    width: 100%;
    display: flex;
    gap: 1rem;

    textarea {
      border: 2px solid var(--primary-color);
      border-radius: 0.5rem;
      width: 75%;
      padding: 0.5rem;
      font-size: 1rem;
      min-height: 3rem;
      max-height: 6rem;
      outline: none;
    }
  }

  .diseaseButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 4%;
    right: 2%;
    top: 55vh;

    button {
      width: 16%;
      height: 3rem;
      border: none;
      background: var(--primary-color);
      color: var(--text-color);
      border-radius: 0.5rem;
      font-size: 1.25rem;

      &:hover {
        color: var(--text-hover);
      }
    }
  }
}
