form {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.38rem;

  .documentContainerClass {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .documentContainer {
      width: 33%;
      height: 20vh;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      img {
        min-height: 50%;
      }

      .documentFunctionalButton {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        button {
          height: 100%;
          width: 30%;
          &:hover {
            background-color: var(--primary-color);
            color: var(--text-hover);
            cursor: pointer;
            transition: background-color 0.3s ease-in-out,
              color 0.1s ease-in-out;
          }
        }
      }
    }
  }

  .documentButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 0 0 4%;
    right: 2%;
    top: 55vh;

    button {
      width: 16%;
      height: 3rem;
      border: none;
      background: var(--primary-color);
      color: var(--text-color);
      border-radius: 0.5rem;
      font-size: 1.25rem;

      &:hover {
        color: var(--text-hover);
      }
    }
  }
}
