.patientFormSection {
  width: 90% !important;
  background-color: rgb(243, 255, 243);
  height: 72vh !important;
  position: relative !important;
  left: 2% !important;
  bottom: 16%;
  box-shadow: 0 10px 13px -3px rgba(37, 31, 31, 0.1);
  border: none;
  border-radius: 0.8rem;
  
  .formStepper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;


  }
}
