.patientFormSection {
  width: 100% !important;
  background-color: rgb(243, 255, 243);
  height: 80vh !important;
  position: absolute !important;
  box-shadow: 0 10px 13px -3px rgba(37, 31, 31, 0.1);
  border: none;
  border-radius: 0.8rem;
  top: 3%;

  .stepHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1% 1% 1%;

    .stepperWrapper {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: var(--primary-color);
      cursor: pointer;

      .stepperLine {
        width: 22%;
        border-bottom: 0.2rem solid var(--primary-color);
      }

      .step_item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border: 0.2rem solid var(--primary-color);
        border-radius: 50%;

        &:hover {
          background-color: var(--primary-color);
          color: var(--text-hover);
        }
      }

      .active_Step {
        background-color: var(--primary-color);
        color: var(--text-hover);
      }

      .step_4_Documents {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border: 0.2rem solid var(--primary-color);
        border-radius: 50%;

        &:hover {
          background-color: var(--primary-color);
          color: var(--text-hover);
        }
      }
    }
    .closeForm {
      width: 10%;
      .closeButton {
        color: red;
        cursor: pointer;
        border: none;
        height: 0.2rem;
        padding: 0.5rem;
        background-color: transparent;
        font-size: 2.2rem;
        outline: none;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
  .formUnderline {
    width: 100%;
    border-bottom: 0.1rem solid var(--primary-color);
    background-color: var(--primary-color);
    margin: 1% 0% 1% 0%;
    box-shadow: 4% 10px 13px -3px rgba(37, 31, 31, 0.1);
  }
}
