.patientFormSection {
  width: 90% !important;
  background-color: rgb(243, 255, 243);
  height: 79vh !important;
  position: relative !important;
  left: 2% !important;
  bottom: 8%;
  box-shadow: 0 10px 13px -3px rgba(37, 31, 31, 0.1);
  border: none;
  border-radius: 0.8rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
  }
}
